recursive-include orangecontrib *.pyx
recursive-include orangecontrib *.py

recursive-include orangecontrib/shadow/widgets *.png *.svg *.ico *.jpg *.bmp
recursive-include orangecontrib/shadow/widgets/experimental_elements *.dat

recursive-include libraries/darwin *
recursive-include libraries/linux *

include README.txt